@model IEnumerable<TrainStationManagement.Models.Train>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1>Trains</h1>
</div>


<table class="table table-hover table-striped table-">
    <thead class="custom-thead">
        <tr>
            <th>
                Train ID
            </th>
            <th>
                Departure Time
            </th>
            <th>
                Departure Station
            </th>
            <th>
                Arrival Time
            </th>
            <th>
                Arrival Station
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrainId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureStation.StationName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>  
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalStation.StationName)
            </td>
        </tr>
}
    </tbody>
</table>


