@model IEnumerable<TrainStationManagement.Models.TrainStation>

@{
    ViewData["Title"] = "Index";
}

<h1>Train Stations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StationAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StationLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StationAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StationLocation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
