@model TrainStationManagement.Models.Train

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Train</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureStation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureStation.StationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalStation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalStation.StationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TrainId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
