@model IEnumerable<TrainStationManagement.Models.Train>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Trains</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-striped table-light">
    <thead class="custom-thead">
        <tr>
            <th>
                Departure Time
            </th>
            <th>
                Departure Station
            </th>
            <th>
                Arrival Time
            </th>  
            <th>
                Arrival Station
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureStation.StationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalStation.StationName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrainId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TrainId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TrainId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
