@model IEnumerable<TrainStationManagement.Models.Train>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Trains</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-dark">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureStation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalStation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureStation.StationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalStation.StationName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrainId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TrainId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TrainId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
